<!DOCTYPE html>
<html>
  <head>
    <title>Расчет стоимости доставки</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=38fbe75b-d1ce-45b7-a919-121ac7a51add"
      type="text/javascript"
    ></script>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div class="container" id="app">
      <div class="grid-container">
        <div class="route border">
          <h3>Указажите маршрут</h3>
          <div>
            <input
              v-on:focus="focusHandler"
              placeholder="Откуда"
              type="text"
              id="suggest1"
            />
          </div>
          <div>
            <input
              v-on:focus="focusHandler"
              placeholder="Куда"
              type="text"
              id="suggest2"
            />
          </div>
        </div>

        <div class="options border">
          <h3>Параметры</h3>
          <div style="margin-bottom: 20px">
            <div style="display: flex; justify-content: space-between">
              <span style="display: flex; flex-grow: 1"
                >Расстояние: <span class="dashed-line"></span
              ></span>
              <span id="quantityKm" style="font-weight: 600" class="total">
                {{distance}} км
              </span>
            </div>
            <span
              style="
                display: block;
                text-align: right;
                color: gray;
                font-style: italic;
              "
            >
              (рассчитывается автоматически)
            </span>
          </div>
          <div>
            <input
              v-on:focus="focusHandler"
              v-model="tonns"
              type="number"
              id="ton"
              placeholder="Масса груза, тонн"
              required
            />
          </div>
          <div>
            <input
              v-on:focus="focusHandler"
              v-model="tariff"
              type="number"
              id="priceKm"
              placeholder="Стоимость 1 километра"
              required
            />
          </div>
        </div>
        <div>
          <button v-on:click="calculate" class="btn">Рассчитать</button>
        </div>

        <div
          :style="{display: isFull ? 'block' : 'none'}"
          class="calculation border"
        >
          <h3>Расчет</h3>
          <div class="calculation__item">
            <div>
              <span>
                Общая стоимость перевозки:
                <span class="dashed-line"></span>
              </span>
              <span id="price1" class="total">{{priceTotal}}</span>
            </div>
            <span class="comment">
              (произведение расстояния на цену за километр)
            </span>
          </div>
          <div class="calculation__item">
            <div>
              <span>
                Тоннокилометров, всего:
                <span class="dashed-line"></span
              ></span>
              <span id="price2" class="total">{{tonnsKmTotal}}</span>
            </div>
            <span class="comment">
              (произведение расстояния на массу перевезенного груза)
            </span>
          </div>
          <div class="calculation__item">
            <div>
              <span>
                Стоимость 1 тоннокилометра:
                <span class="dashed-line"></span>
              </span>
              <span id="price3" class="total">{{tonnsKm}}</span>
            </div>
            <span class="comment">
              (общая стоимость делится на количество тоннокилометров)
            </span>
          </div>
          <div id="map"></div>
        </div>
      </div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
